<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<style>
table, th, td {
  border: 1px solid black;
}
table{  
          border-collapse: collapse;   
           width: 100%;}    
</style>
</head>
<body>
<div align="center">
<h1>MileStone Details</h1>
 <table>
 <tr>
<th style="background-color: #ADD8E6">S.no.</th>
<th style="background-color: #ADD8E6">Order Id</th>
<th style="background-color: #ADD8E6">Order Type</th>
<th style="background-color: #ADD8E6">Activity Id</th>
<th style="background-color: #ADD8E6">RR</th>
<th style="background-color: #ADD8E6">Rollback Status</th>
<th style="background-color: #ADD8E6">Activity Status</th>
<th style="background-color: #ADD8E6">Creation Time</th>
<th style="background-color: #ADD8E6">LastUpdate Time</th>
<th style="background-color: #ADD8E6">System</th>
<th style="background-color: #ADD8E6">RollbackStart Time</th>
<th style="background-color: #ADD8E6">Rollback LastUpdate Time</th>
<th style="background-color: #ADD8E6">Rollback Parameters</th>
</tr>
 <tr th:each="list : ${mileStoneAndRollbacks}">  
                 <td th:text="${listStat.index+1}"></td>
                
              <td th:text="${list.order_id}"></td>
               <td th:text="${list.order_type}"></td>
               <td th:text="${list.activity_id}"></td>
               <td th:text="${list.rollback_required}"></td>
               <td th:text="${list.rollback_status}"></td>
               <td th:text="${list.activity_status}"></td>
               <td th:text="${list.creation_time}"></td>
               <td th:text="${list.last_updated_time}"></td>
               <td th:text="${list.system}"></td>
               <td th:text="${list.rollback_start_time}"></td>
               <td th:text="${list.rollback_lastupdated_time}"></td>
               <td th:text="${list.rollback_parameters}"></td>
                </tr>
                </table>
                </div>
</body>
</html>